/* Google fonts (tipografía) */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap');

/* Animación de rotación (utilizada en cargando) */
@keyframes rotate {
    0% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }

/* Declaración de Variables */
:root {
    /* Colores */
    --color-fondo: #F6E5C3;
    --color-titulo: #3D495C;

    /* Tipografia */
    --fuente-titulo: 'Amaranth', sans-serif;
    --fuente-parrafo: 'Open Sans', sans-serif;
    --peso-titulo: 700;
    --peso-subtitulo: 600;
    --peso-medium: 500;
    --peso-parrafo: 400;
}

/* Normalizadores */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* outline: 2px dashed yellowgreen; */
}

h1, h2, h4 {
    font-family: var(--fuente-titulo);
    font-weight: var(--peso-parrafo);
    color: var(--color-titulo);
}

h3 {
    font-family: var(--fuente-parrafo);
    font-weight: var(--peso-subtitulo);
}

h5, h6, pre, a {
    font-family: var(--fuente-parrafo);
    text-transform: capitalize;
    color: var(--color-titulo);
}

h5 {
    font-weight: var(--peso-parrafo);
}

h6, a {
    font-weight: var(--peso-medium);
}


p, span, label, ul {
    font-family: var(--fuente-parrafo);
    font-family: var(--peso-parrafo);
}

li {
    padding: 16px 4px 0px;
    list-style: none;
}


/* Reglas recursivas */
.colorFondo {
    background-color: var(--color-fondo);
}

.subtitulo::after {
    content: " ";
    display:inline-block;
    width: 60%;
    height: 5px;
    margin-left: 16px;
    background-color: var(--color-fondo);
}

.card {
    cursor: pointer;
}

.card:hover {
    filter: drop-shadow(4px 4px 5px #3D495C);
}

.dNone {
    display: none;
}

.subrayado {
    border-bottom: 5px solid var(--color-fondo)
}

.btnPos{
    position: relative;
    top: 24px;
    right: 0px;
}

/* Componente: filtro de categorías */
.activeCategory {
    font-weight: var(--peso-subtitulo);
    border-top: 5px solid var(--color-fondo) !important;
    border-bottom: 5px solid var(--color-fondo);
    border-left: 0;
    border-right: 0;
}

/* Reglas específicas modales */
.modalForm, .modalRecipe {
    width:80vw;
    max-height:100vh;
    overflow-y: auto;
    margin: auto;
    padding: 32px 24px 64px;
    background-color: white;
    border: 3px solid #DAE6F9;
    border-radius: 5px;
}

.notas {
    width: 32vw;
    max-height: 50vh;
    overflow: auto;
    margin-left: 24px;
    padding: 16px 8px;
    background-color: #DAE6F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 7px rgba(0, 0, 0, 0.06);

}

.modalRecipe{
    display: inline-block;
    min-height: 50vh;
    padding: 24px;
    position: relative;
}

/* Pagina 404 */
.fondo404 {
    width: 50vw;
    height: 25vh;
    margin: auto;
    padding-bottom: 24px;
    background-image: url('https://img.freepik.com/free-vector/casserole-pot_1284-11444.jpg?w=1060&t=st=1673112511~exp=1673113111~hmac=609818c93e82fd1b0c8410aa9466ab96be58824fdf228bd97dea43345b8f24a4');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* Cargando */
.cargando {
    width: 150px;
    height: 150px;
    margin: calc(50vh - 75px) auto;
    background-image: url('../public/img/cargando.svg');
    background-size: contain;
    background-position: center;
}

.rotacion {
    animation: rotate 5s normal linear infinite;
}
